@font-face {
	font-family: "Uroob";
	src: url("../fonts/Uroob-Regular.ttf") format('truetype');
}
*{
	font-family: 'Uroob', Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
}

.colorprimary{
	background-color: #0055FF;
}

.pos-logo-top{
	width: 250px;
	line-height: 6;
}

.pos-menu{
	display: inline-table;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}
